<section class="hero is-link is-small">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
<%=link_to root_path,class:"navbar-item" do %>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" stroke-width="2">
    <g stroke-width="2" transform="translate(0, 0)">
    <line x1="50.224" y1="19.108" x2="60" y2="2" fill="none" stroke="#ffffff" stroke-miterlimit="10" stroke-width="2" data-cap="butt" data-color="color-2" stroke-linecap="butt" stroke-linejoin="miter">
    </line> <line x1="43.61" y1="20.5" x2="48" y2="4" fill="none" stroke="#ffffff" stroke-miterlimit="10" stroke-width="2" data-cap="butt" data-color="color-2" stroke-linecap="butt" stroke-linejoin="miter"></line> <circle cx="13.5" cy="11.5" r="1.5" fill="#ffffff" data-cap="butt" data-stroke="none" stroke-linecap="butt" stroke-linejoin="miter">
    </circle> <circle cx="26.5" cy="24.5" r="1.5" fill="#ffffff" data-cap="butt" data-stroke="none" stroke-linecap="butt" stroke-linejoin="miter"></circle> <circle cx="33.5" cy="8.5" r="1.5" fill="#ffffff" data-cap="butt" data-stroke="none" stroke-linecap="butt" stroke-linejoin="miter">
    </circle> <path d="M19.394,57H44.606A27.993,27.993,0,0,0,60,32H4A27.993,27.993,0,0,0,19.394,57Z" fill="none" stroke="#ffffff" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2" stroke-linejoin="miter"></path> <path d="M56,26a7,7,0,0,0-12.009-4.885A7.984,7.984,0,0,0,32.147,18.65,7,7,0,0,0,19.19,20.4,6.991,6.991,0,0,0,8,26" fill="none" stroke="#ffffff" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2" data-color="color-2" stroke-linejoin="miter">
    </path></g></svg>

<span class="has-text-weight-bold is-size-4 ml-4">Foodlog</span>
    <% end %>
          <span class="navbar-burger" data-target="navbarMenuHeroB">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroB" class="navbar-menu">
          <div class="navbar-end">
          <%=link_to "create new entry", new_entry_path,class:"button is-success"%>
            </span>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
      <% if content_for(:title) %>
        <%= yield :title%>
        <% else %>
        Foodlogs
        <% end %>
      
      </p>
      
    </div>
  </div>

          
</section>